<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.zunda.changekeysound</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.zunda.changekeysound/ReloadPrefs</string>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>defaults</key>
        <string>com.zunda.changekeysound</string>
        <key>key</key>
        <string>selectedSound</string>
        <key>label</key>
        <string>Sound</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>validTitles</key>
        <array>
			<string>boyon1.mp3</string>
			<string>bruhSound.mp3</string>
			<string>click1.mp3</string>
			<string>click2.mp3</string>
			<string>drum-japanese1.mp3</string>
			<string>electric-fan-off1.mp3</string>
			<string>electric-fan-on1.mp3</string>
			<string>eye-shine1.mp3</string>
			<string>keyboard1.mp3</string>
			<string>keyboard2.mp3</string>
			<string>pa.mp3</string>
			<string>pafu.mp3</string>
			<string>switch1.mp3</string>
			<string>typewriter1.mp3</string>
        </array>
        <key>validValues</key>
        <array>
            <integer>0</integer>
            <integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
        </array>
        <key>default</key>
        <integer>0</integer>
        <key>PostNotification</key>
        <string>com.zunda.changekeysound/ReloadPrefs</string>
    	</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CustomSound</string>
			<key>footerText</key>
			<string>PLACE_YOUR_CUSTOM_SOUND</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zunda.changekeysound</string>
			<key>key</key>
			<string>isCustomSound</string>
			<key>label</key>
			<string>CUSTOM_SOUND</string>
			<key>PostNotification</key>
			<string>com.zunda.changekeysound/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.zunda.changekeysound</string>
			<key>key</key>
			<string>customSoundName</string>
			<key>placeholder</key>
			<string>billie.mp3</string>
			<key>PostNotification</key>
			<string>com.zunda.changekeysound/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
			<key>footerText</key>
			<string>©2020 zunda</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>zunda</string>
			<key>user</key>
			<string>zunda_pixel</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sourceLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>GitHub</string>
		</dict>
	</array>
	<key>title</key>
	<string>ChangeKeySound</string>
</dict>
</plist>
